body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 1em;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    cursor: pointer;
}

#chapter-content {
    white-space: pre-wrap;
}
